<ion-header>
  <ion-navbar color="light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Forum</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  

      
  <div text-center *ngIf="badge">
    <br><br>
    <h2>{{badge}}</h2>
    <br><br>
    <img src="/assets/img/msg.png" >
  </div>


    <div  *ngFor="let msge of msges">

        <ion-card >
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/use.png">
            </ion-avatar>
            <h2>{{msge.auteur}}</h2>
            <p>{{msge.creation}}</p>
          </ion-item>

            
            <ion-item lines="none"><ion-label text-wrap>
              {{msge.message}}
            </ion-label></ion-item>
        </ion-card>
        
        </div>
</ion-content>
<ion-footer no-padding>
    <ion-grid>
        <ion-row>
          <ion-col col-9><div id="rounded">
            <ion-textarea [(ngModel)]="message" placeholder="Tapez votre message"></ion-textarea>
          </div> </ion-col>
          <ion-col col-3><button ion-button round (click)="send()">
            <ion-icon name="md-send"></ion-icon></button></ion-col>
        </ion-row>
      </ion-grid>
</ion-footer>
